# Fichiers compilés
*.o
*.obj
*.exe
*.dll

# Fichiers générés par Qt
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
Makefile
Makefile.*
.qmake.stash

# Dossiers de build
build-*/
debug/
release/

# Fichiers Qt Creator
*.pro.user
*.pro.user.*

# Fichiers système
.DS_Store
Thumbs.db
